@model TWtodos2.Models.Todo;

<h1>@ViewData["Title"]</h1>

<p>Tem certeza que deseja deletar tarefa <strong>@Model.Title</strong> </p>

<form method="post">
  <button class="btn btn-danger" type="submit">Excluir</button>
  <a asp-controller="Todo" asp-action="Index" class="btn btn-primary">Cancelar</a>
</form>
